
img{
    width: 300px;
}

#Yourbutton{
    margin: 40px;
}

h1{
    text-align: center;
}

#hand{
    display: flex;
    
}

#enemy{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 140px;
}